@model List<WebBanHang1.Models.CartItem>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table id="tblCart" class="table">
    <thead>
        <tr>
            <td style="width:100px"><b>ID</b></td>
            <td style="width:150px"><b>Name</b></td>
            <td style="width:150px"><b>Quantity</b></td>
            <td style="width:150px"><b>Price</b></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.masp</td>
                <td class="Name">@item.ten</td>
                <td>
                    <form action="@Url.Action("UpdatedCart")" method="get">
                        <input type="hidden" name="id" value="@item.masp" />
                        <input type="number" min="1" max="100" step="1" name="newQuantity" value="@item.sl" />
                        <button type="submit" class="btn btn-primary btn-sm"> Update </button>
                    </form>
                </td>
                <td>$@((item.sl * item.gia).ToString("#,##0").Replace(',', '.'))</td>
                <td> <a href="@Url.Action("DeleteCart",new { id = item.sl })" onclick="return confirm('Do you want to delete?');" class="btn btn-danger btn-sm">Delete</a> </td>

            </tr>
        }
        <tr>
            <th>Total:</th>
            <td>@Model.Sum(m => m.sl)</td>
            <th>Total cost:</th>
            <td><p class="cart_total_price">$@Model.Sum(m => m.total).ToString("#,##0").Replace(',', '.')</p></td>
        </tr>
    </tbody>
</table>
<a href="@Url.Action("Index", "Home")" class="btn btn-large"><i class="fa fa-arrow-left"></i> Continue Shopping </a>
<a href="@Url.Action("Payment", "Cart")" class="btn btn-large pull-right">Next <i class="fa fa-arrow-right"></i></a>

<hr />